<div id="<%= dom_id blog %>">
  <p>
    <strong>Title:</strong>
    <%= blog.title %>
  </p>

  <p>
    <strong>Author type:</strong>
    <%= blog.author_type %>
  </p>

  <p>
    <strong>Blog body:</strong>
    <%= blog.blog_body %>
  </p>

  <p>
    <strong>User:</strong>
    <%= blog.user_id %>
  </p>

</div>
