


<%= form_with(model: blog,local: false) do |form| %>
  <div class="modal-body">
       <% if blog.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(blog.errors.count, "error") %> prohibited this blog from being saved:</h2>

      <ul>
        <% blog.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
      <%= form.label :blog_body, style: "display: block" %>
      <%= form.text_area :blog_body %>
      <%= tinymce_assets %>
    <script type="text/javascript" src="/assets/tinymce.js"></script>
    <script src="https://cdn.tiny.cloud/1/no-api-key" referrerpolicy="origin"></script>
    <%= text_area_tag :content, "Please Write the Blog Content Here.", :class => "tinymce", :rows => 1, :cols => 4 %>
    <%= tinymce %>
</div>



  <div>
    <%= form.label :author_type, style: "display: block" %>
    <%= form.select :author_type, [['User','user'],['Guest','guest'],['Admin','admin']] %>
  </div>

  </div>
  <div class="modal-footer">
    <div class = "center">
      <%= form.submit %>
    </div>

<!--     <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
    <button type="button" class="btn btn-primary">Save changes</button> -->
  </div>
  </div>
<% end %>
